<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<servlet>
		<servlet-name>esigate</servlet-name>
		<servlet-class>org.esigate.servlet.AggregatorServlet</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>esigate</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>esigate-nocache</servlet-name>
		<servlet-class>org.esigate.servlet.AggregatorServlet</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>esigate-nocache</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>esigate</servlet-name>
		<url-pattern>/esigate/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>esigate-nocache</servlet-name>
		<url-pattern>/esigate-nocache/*</url-pattern>
	</servlet-mapping>
</web-app>